/***** FONTS *****/
#gold-shadow {
	color: #ffcc00; /* gold-ish yellow */
	text-shadow: 4px 3px 3px rgba(0, 0, 0, 1);
	-webkit-text-shadow: 4px 3px 3px rgba(0, 0, 0, 1);
	-moz-text-shadow: 4px 3px 3px rgba(0, 0, 0, 1);
}
.text-huge {
	font-size: 90px;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Spinnaker;
}
a {
	color: #0059b3;
}
a::selection {
	color: #007acc;
}
/***** END FONTS *****/
/***** STATIC NAVBAR *****/
/* Background color for the navbar */
.navbar-default {
	background-color: #1aa3ff; /** light blue **/
	border-color: #007acc; /** darker blue **/
}

/* Default text color for navbar fields */
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a {
	transition: ease-in-out, .75s ease-in-out;
	color: #ffffff; /* white */
}

/* Hover text color for navbar */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	transition: ease-in-out, .75s ease-in-out;
	color: #ffcc00; /* gold-ish yellow */
	background-color: #007acc; /** darker blue **/
}
/***** END NAVBAR *****/
/***** DOTTED NAV *****/
.dottedNavDiv {
	top:15px;
	left:15px;
	position:fixed;
	display:block;
	width:100px;
	height:100px;
	background-color:transparent;
	border-radius:50%;
	z-index:20;
	box-shadow: 2px 2px 5px 3px rgba(50, 50, 50, 0.93);
	-webkit-box-shadow: 2px 2px 5px 3px rgba(50, 50, 50, 0.93);
	-moz-box-shadow: 2px 2px 5px 3px rgba(50, 50, 50, 0.93);
}
.dottedNavObj1,
.dottedNavObj2,
.dottedNavObj3,
.dottedNavObj4 {
	width:60%;
	height:60%;
	background-color:#3399ff; /** Light blue **/
	border-radius:50%;
	position:absolute;
	color:white;
	text-align:center;
	line-height:70px;
    top:25%;
	left:25%;
	z-index:19;
	cursor:pointer;
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 2px 2px 5px 3px rgba(50, 50, 50, 0.93);
	-webkit-box-shadow: 2px 2px 5px 3px rgba(50, 50, 50, 0.93);
	-moz-box-shadow: 2px 2px 5px 3px rgba(50, 50, 50, 0.93);
}
.dottedNavObj1:hover,
.dottedNavObj2:hover,
.dottedNavObj3:hover,
.dottedNavObj4:hover {
	transition: ease-in-out, .5s ease-in-out;
	background-color:#277acb; /** Darkened version of the Light Blue **/
}
.dottedNavHome {
	top:15px;
	left:15px;
	width:100px;
	height:100px;
	background:#0059b3; /** Dark Blue **/
	border-radius:50%;
	z-index:21;
	color:white;
	text-align:center;
	line-height:120px;
	cursor:pointer;
	position:fixed;
}
.fa-home{
	display:inline-block;
	top:17px;
    font-size: 60px;
    line-height: 55px;
    color:white;
    text-align: center;
    vertical-align: bottom;
    position:relative;
    transition: ease-in-out, .75s ease-in-out;
}
.fa-user,
.fa-envelope-o,
.fa-code,
.fa-graduation-cap {
	display:inline-block;
	top:15px;
    font-size: 30px;
    line-height: 30px;
    color:white;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: bottom;
    position:relative;
    transition: ease-in-out, .5s ease-in-out;
}
.fa-home:hover,
.fa-user:hover,
.fa-envelope-o:hover,
.fa-code:hover,
.fa-graduation-cap:hover {
	transition: ease-in-out, .5s ease-in-out;
    color:#ffcc00; /** Gold **/
}
.fa-user:hover:after {
	background: #277acb;
    border-radius: 5px;
    color: #ffcc00;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    content: "About Me";
    left:100%;
    top:100%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 120px;
}
.fa-envelope-o:hover:after {
	background: #277acb;
    border-radius: 5px;
    color: #ffcc00;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    content: "Contact Me";
    left:100%;
    top:100%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 120px;
}
.fa-code:hover:after {
	background: #277acb;
    border-radius: 5px;
    color: #ffcc00;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    content: "My Projects";
    left:100%;
    top:100%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 120px;
}
.fa-graduation-cap:hover:after {
	background: #277acb;
    border-radius: 5px;
    color: #ffcc00;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    content: "My Resume";
    left:100%;
    top:100%;
    padding: 5px 10px;
    position: absolute;
    z-index: 98;
    width: 120px;
}
/***** END DOTTED NAV *****/
/***** SECTIONS *****/
body {
	padding:0px;
	margin:0px;
	background: rgb(82, 86, 89);
	position: relative;
	z-index: -10;
}
#fullscreen-bg {
/* 	background-image: url('../img/SDSailing1.jpg');
 */	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fit;
	background-size:  cover;
	background-color: #999;
	height:100%;
	padding: 0px;
}
.landing-box-modal-left {
	background-color:#ffcc00;
	height:100%;
	padding-top:30px;
	box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
}
.landing-box-modal-right {
	background-color:#ffcc00;
	height:100%;
	box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
}
#landing-header {
	height:500px;
}
#landing-page {
	width:100%;
}
#middle-info {
	height:400px;
	margin-left:-15px;
	margin-right:-15px;
	padding: 0px;
	box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.8);
}
.layer {
	background-color: rgba(0,89,179,.2);
	position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
	padding-right: 30px;
    width: 100%;
    height: 100%;
}

/***** END SECTIONS *****/
/***** FOOTER *****/
#footer {
	position: relative;
	z-index: -99;
	height: 130px;
	width: inherit;
	background: rgb(82, 86, 89);
}
.footer-head {
	position: relative;
	z-index: 1;
	height: 30%;
	width: 100%;
	margin-left: -5px;
	margin-right: -5px;
	background: rgb(82, 86, 89);
	box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.8);
	
}
.footer-foot {
	position: relative;
	padding-top: 10px;
	z-index: 0;
	height: 70%;
	width: 100%;
	background-color: #ffcc00;
}
.quick-nav-div {
	height: 100%;
}
/***** END FOOTER *****/
/***** PDF *****/
.pdf-holder {
	height:98%;
}
/***** END PDF *****/
/***** LANDING PAGE *****/
.title-box {
	padding: 20px 10px;
	background-color: rgba(51,153,255, .8);
	border-radius: 25px;
	margin-top:100px;
}
.circle-icon {
	width: 250px;
    height: 250px;
    margin: 0 auto;
    padding-top:15px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    background: #ffcc00;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
}
.photo-circle {
	width: 220px;
	height: 220px;
	margin: 0 auto;
	-webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    -webkit-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.71);
    background: url('../img/headshot4.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fit;
	background-size:  cover;
    
}
.social-media-icon-left {
	width: 70px;
    height: 70px;
	margin-top: 90px;
	margin-left: -20px;
	margin-right: 20px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background: #0059b3;
    color: white;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
}
.social-media-icon-right {
	width: 70px;
    height: 70px;
	margin-top: 90px;
	margin-left: 20px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    background: #0059b3;
    color: white;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
}
.social-media-icon-left:hover,
.social-media-icon-right:hover {
	transition: ease-in-out, .4s ease-in-out;
	background: #004080;
    color:#ffcc00; /** Gold **/
}
.fa-linkedin,
.fa-github {
	display:inline-block;
	top:15px;
    font-size: 40px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    position:relative;
    transition: ease-in-out, .5s ease-in-out;
}
.landing-photo-arrow {
	top: 50%;
	cursor: pointer;
	transition: ease-in-out, .3s ease-in-out;
}
.fa-arrow-circle-left,
.fa-arrow-circle-right {
	color: #ffffff;
	line-height: 0px;
	font-size: 40px;
	text-align: right;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
}
.photo-circle-nav-div {
	padding-top: 15px;
	cursor: pointer;
	transition: ease-in-out, .3s ease-in-out;
	text-align: center;
}
.fa-circle  {
	color: #ffcc00;
	line-height: 0px;
	font-size: 25px;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
}
.fa-circle-o {
	color: #ffffff;
	line-height: 0px;
	font-size: 25px;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.71);
}
.landing-photo {
	position: center center;
	repeat:  no-repeat;
	attachment: fit;
	height: 100%;
	width: 100%;
}
/***** LANDING PAGE *****/