<div class="dottedNavDiv">
	<a href="#/"><div class="dottedNavObj1"><i class="fa fa-user fa-2x"></i></div></a>
	<a href="#/ResumePage"><div class="dottedNavObj2"><i class="fa fa-graduation-cap fa-2x"></i></div></a>
	<a href="#/"><div class="dottedNavObj3"><i class="fa fa-code fa-2x"></i></div></a>
	<a href="#/ContactMePage"><div class="dottedNavObj4"><i class="fa fa-envelope-o fa-2x"></i></div></a>
		
	<div class="dottedNavHome" ng-click="navClicked()"><i class="fa fa-home fa-4x"></i></div>
</div>

<h2 class="h2 text-center">Contact Me</h2>
<h2 class="h2 text-center">{{ contactMessage }}</h2>