<div class="dottedNavDiv">
	<a href="#/" class="dottedNavObj1"><i class="fa fa-user"></i></a>
	<a href="#/ResumePage" class="dottedNavObj2"><i class="fa fa-graduation-cap"></i></a>
	<a href="#/" class="dottedNavObj3"><i class="fa fa-code"></i></a>
	<a href="#/ContactMePage" class="dottedNavObj4"><i class="fa fa-envelope-o"></i></a>
		
	<div class="dottedNavHome" ng-click="navClicked()"><i class="fa fa-home"></i></div>
</div>
<div id="landing-page">

	<div id="landing-header">
		<h1 class="h1 text-center text-huge" id="gold-shadow" style="padding-top:40px">Sean Golden</h1>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>		
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 container-fluid">
			<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
			<a class="social-media-icon-left col-lg-1 col-md-2 col-sm-2 col-xs-2" 
				href="https://www.linkedin.com/in/sean-golden-650497aa">
				<i class="fa fa-linkedin"></i></a>
			<div class="circle-icon col-lg-6 col-md-6 col-sm-6 text-center col-xs-6">
				<div class="photo-circle"></div>
			</div>
			<a class="social-media-icon-right col-lg-1 col-md-2 col-sm-2 col-xs-2" 
				href="https://github.com/seanrgolden/">
			<i class="fa fa-github"></i></a>
			<div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
		<h3 class="h3 text-center col-lg-12 col-md-12 col-sm-12" id="gold-shadow">
			Software Developer and Competetive Sailor</h3>
	</div>
	
	<div class="container-fluid" id="middle-info">
		<div class="col-md-6 col-lg-6 col-sm-6 landing-box-modal-left">
			<h4 class="h4 text-center">Hi, my name is Sean.</h4>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6 landing-box-modal-right" id="fullscreen-bg">
			<div class="layer"></div>
		</div>
	</div>
	
</div>

